.icon-left{
  position:absolute;
  top: 10px;
  left: 10px;
}

.seasonDisplay{
    align-items: center;
    
    display: flex;
    flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;

}
.icon-right{
    position:absolute;
  bottom: 10px;
  right: 10px;
}
.summer{
    background-color: palegoldenrod;
}
.winter{
    background-color: paleturquoise;
}


.seasonDisplay.winter i{
    color: cornflowerblue;
}

.seasonDisplay.summer i{
    color: darkorange;
}